server/DeliveryApp/venv/
.idea/
server/DeliveryApp/db.sqlite3
*__pycache__
server/DeliveryApp/DeliveryApp/__pycache__
server/DeliveryApp/restaurants/__pycache__
server/DeliveryApp/users/__pycache__
client/deliveryapp/node_modules
